<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>259610992491-gr1skqr5i7p73b84hinturntp9e9l5rg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.259610992491-gr1skqr5i7p73b84hinturntp9e9l5rg</string>
	<key>API_KEY</key>
	<string>AIzaSyDKDj_yeg7xuYJbHEpwjIswQg7xRMGzSas</string>
	<key>GCM_SENDER_ID</key>
	<string>259610992491</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mcmhouse.ar</string>
	<key>PROJECT_ID</key>
	<string>mcm-ar</string>
	<key>STORAGE_BUCKET</key>
	<string>mcm-ar.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:259610992491:ios:6a515aaa75167c40e7362e</string>
	<key>DATABASE_URL</key>
	<string>https://mcm-ar-default-rtdb.firebaseio.com</string>
</dict>
</plist>